<style>
  * {
    margin: 0;
    padding: 0;
  }

  .mar-top {
    margin: 10rem 5rem 2rem 5rem;
  }

  .exp-sec {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .exp-comp {
    opacity: 0.8;
    margin: 2rem;
    font-size: 1.5rem;
    font-weight: 400;
  }

  .exp-comp:hover {
    opacity: 1;
    cursor: pointer;
  }

  /* search section */
  .search-btn {
    background-color: #FF385C;
    border-radius: 50%;
    padding: 20px;
  }

  .search-btn:hover {
    background-color: #ff1641;
  }

  .search-inp {
    border-radius: 60px;
    padding-left: 30px;

  }

  .search-sec {
    display: inline-block;
    width: 40rem;
    margin: 8px auto;
  }

  .disp-flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>





<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top bg-white mt-3 pt-3 mar-top">


  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-solid fa-house-chimney-crack"></i> RoamRover</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings"><b>Home</b></a>
      </div>


      <div class="exp-sec ms-auto">
        <div class="exp-comp">Stays</div>
        <div class="exp-comp">Experience</div>
        <div class="exp-comp">Online Experience</div>
      </div>

      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new"> <b>Switch to Hosting</b></a>
        <% if(!currUser) {%>
          <a class="nav-link" href="/signup"><b>SignUp</b></a>
          <a class="nav-link" href="/logIn"><b>LogIn</b></a>
          <% } %>
            <% if(currUser) {%>
              <a class="nav-link" href="/logOut">Log Out</a>
              <% } %>
      </div>
    </div>
  </div>

</nav>



<div class="disp-flex">
  <div class="search-sec ">
    <form class="d-flex" role="search">
      <input class="form-control me-2 search-inp" type="search" placeholder="Search destinations" aria-label="Search">
      <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
  </div>
</div>