<% layout('../layouts/boilerplate') -%>

    <form action="/listings" method="post">
        Title: <input name="listing[title]" type="text" placeholder="Enter title">
        <br><br>
        description: <textarea name="listing[description]" type="text" placeholder="Enter description"></textarea>
        <br><br>
        image: <input name="listing[image]" type="text" placeholder="Enter image">
        <br><br>
        price: <input name="listing[price]" type="number" placeholder="Enter price">
        <br><br>
        country: <input name="listing[country]" type="text" placeholder="Enter country">
        <br><br>
        location: <input name="listing[location]" type="text" placeholder="Enter location">
        <br><br>
        <button type="submit">Add</button><br> <br>
        <a href="/listings">Back</a>
    </form>